*,
html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

li {
	list-style: none;
}

:root {
	--main-color: #1e1e1e;
	--second-color: #fff;
	--table-color: #f3f3f3;
	--catalog-color: #b4014e;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: var(--main-color);
	background: var(--second-color);
}


.container {
	max-width: 990px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__top {
	padding: 10px 0;
	background: var(--second-color);
}

.header__top--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-list {
	display: flex;
}

.header__nav-link {
	text-transform: uppercase;
	position: relative;
}

.header__nav-link:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 102%;
	height: 1px;
	background: var(--main-color);
	transition: 0.6s ease-out;
	transform: scale(0);
	transform-origin: left;
}

.header__nav-link:hover:before {
	transform: scale(1);
}

.header__nav-list-item {
	display: inline-block;
	margin-right: 25px;
}

.header__nav-list-item:last-child {
	margin-right: 0;
}

.header__main {
	background-image: url('../images/mainbg1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 90px 0 125px;
	color: var(--second-color);
	text-align: center;
}

.header__main-title {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 34px;
	line-height: 41px;
}

.main-title {
	font-size: 82px;
	line-height: 85px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 45px;
	display: inline-block;
	padding-bottom: 20px;
	border-bottom:  3px solid var(--second-color);
}

.header__main-discount {
	font-size: 24px;
	margin-bottom: 14px;
}

.header__main-price {
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 45px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__main-buttons {
	display: flex;
	justify-content: center;
}

.header__main-button {
	width: 260px;
	height: 65px;
	background: transparent;
	border: 2px solid var(--second-color);
	color: var(--second-color);
	font-weight: 600;
	margin-right: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.header__main-button:nth-child(2) {
	margin-right: 0;
}

.main {
	padding: 40px 0 90px;
}

.main-information__container {
	text-align: center;
}

.section-title {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
	position: relative;
}

.section-title__span {
	position: relative;
	display: inline-block;
	padding-bottom: 30px;
}

.section-title__span:before {
	content: '';
	width: 90px;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.6s;
}

.section-title__span:hover:before {
	width: 100%;
}

.main-information__text {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 25px;
}

.models-pictures {
	margin: 30px 0 40px;
}

.slider-image {
	width: 100%;
	object-fit: cover;
	height: 320px;
}

.table-sizes-block {
	margin-bottom: 70px;
}

.table-sizes {
	width: 100%;
	padding: 30px;
	background: var(--second-color);
	font-size: 14px;
	box-shadow: 0 0 20px rgba(236, 230, 233, 1);
}

.table-sizes tr:nth-child(odd) {
	background: var(--table-color);
}

.table-sizes tr:first-child,
.table-sizes tr:nth-child(2) {
	font-weight: 700;
}

.table-sizes tr td {
	height: 40px;
	text-align: center;
	vertical-align: center;
}

.table-sizes tr td:first-child {
	font-weight: 700;
}

.catalog {
	position: relative;
	margin-bottom: 120px;
}

.catalog__buttons {
	display: flex;
	justify-content: center;
}

.catalog__button {
	width: 300px;
	height: 65px;
	font-size: 18px;
	transition: background 0.6s ease-out;
	border: none;
	text-transform: uppercase;
	background: var(--table-color);
	cursor: pointer;
}

.catalog__button.purple {
	transition: background 0.6s ease-out;
	color: var(--second-color);
	background: var(--catalog-color);
}

.catalog__cards {
	position: relative;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.catalog__card {
	width: 300px;
	border: 1px solid #dbdbdf;
	position: relative;
}

.catalog__card-image {
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}

.catalog__card-discount {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 10px;
	left: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--catalog-color);
	font-size: 20px;
	color: var(--second-color);
	font-weight: 700;
}

.catalog__card-body {
	padding: 20px;
	padding-top: 0;
	background: var(--second-color);
}

.catalog__popup-name,
.catalog__card-title {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

.catalog__card-sizes {
	margin-bottom: 10px;
}

.catalog__card-size {
	display: inline-block;
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.6s;
}

.catalog__card-size--disabled {
	color: #ceced3;
}

.catalog__card-size.choosen {
	transition: 0.6s;
	border: 1px solid var(--catalog-color);
}

.catalog__popup-btn,
.catalog__card-button {
	margin: auto;
	width: 260px;
	height: 60px;
	font-size: 18px;
	font-weight: 600;
	color: var(--second-color);
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: linear-gradient(to bottom, #8d54e9, #4876e6);
	box-shadow: 2px 2px 0px 2px #375cb2;
}

.catalog__popup-btn {
	margin-top: 10px;
	transform: translateX(10px);
}

.catalog__card-colors {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.catalog__card-color {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}

.catalog__card-color-black {
	background: #000;
}

.catalog__card-color-orange {
	background: #ff0000;
}

.catalog__card-price {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.catalog__card-old-price {
	font-size: 24px;
	color: #8c8c8c;
	text-decoration: line-through;
}

.catalog__card-new-price {
	font-size: 30px;
	font-weight: 700;
	color: var(--catalog-color);
}

.popup {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background: rgba(127, 127, 127, 0.3);;
}

.catalog__popup {
	width: 100%;
	z-index: 20;
	max-width: 640px;
	display: flex;
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 320px);
	background: var(--second-color);
}

.catalog__popup-image {
	width: 100%;
	max-width: 320px;
}

.catalog__popup-body {
	width: 100%;
	max-width: 320px;
	padding: 20px;
	position: relative;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 7px;
	cursor: pointer;
	width: 15px;
	height: 15px;
}

.custom-select {
	position: relative;
	z-index: 50;
	cursor: pointer;
}

.custom-select__head,
.catalog__popup-input {
	width: 100%;
	height: 45px;
	text-align: center;
	border: 1px solid #ceced3;
	color: #737373;
	margin-bottom: 10px;
}

.custom-select__head {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: var(--main-color);
	text-transform: uppercase;
}

.custom-select__body {
	position: absolute;
	width: 100%;
	background: var(--second-color);
	top: 46px;
	left: 0;
	border: 1px solid #ceced3;
	transition: opacity 0.6s ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.custom-select__body.selected {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transition: opacity 0.6s ease;
}

.custom-select__item {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: var(--main-color);
	border-bottom: 1px solid #ceced3;
	transition: background 0.6s ease;
	text-transform: uppercase;
}

.custom-select__item:hover {
	background: rgba(212, 212, 212, 0.7);
}

.custom-select__item:last-child {
	border-bottom: none;
}

.catalog__popup-input:focus {
	outline: 2px solid #ceced3;
}

.order__items {
	display: flex;
	justify-content: space-between;
}

.order__item {
	max-width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.order__image {
	margin-bottom: 30px;
}

.order-text {
	text-align: center;
	line-height: 25px;
}

.catalog-slider {
	display: none;
}

.catalog-slide {
	display: flex;
	justify-content: center;
}

@media (max-width: 990px) {

	.catalog__cards {
		margin: auto;
		margin-top: 30px;
		max-width: 620px;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}

	.order__items {
		max-width: 460px;
		margin: auto;
		flex-wrap: wrap;
	}

	.order__item {
		margin-bottom: 20px
	}

	.header__nav-list-item {
		padding-top: 10px;
		margin-right: 10px;
		font-size: 14px;
	}

	.section-title {
		font-size: 24px;
		padding-bottom: 40px;
	}

	.table-sizes-block {
		margin-bottom: 50px;
	}
}

@media (max-width: 800px) {

	.header__main {
		background-image: url('../images/mainbg2.jpg');
	}

	.header__logo {
		margin: auto;
	}

	.header__nav {
		display: none;
	}
}

@media (max-width: 670px) {

	.header__main {
		background-image: url('../images/mainbg3.jpg');
		background-size: cover;
		padding: 90px 0 70px;
	}

	.header__main-title {
		font-size: 24px;
		margin-bottom: 0px;
	}

	.main-title {
		font-size: 57px;
		padding-bottom: 15px;
		margin-bottom: 25px;
	}

	.header__main-discount {
		font-size: 18px;
	}

	.header__main-price {
		margin-bottom: 25px;
	}

	.header__main-buttons {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.header__main-button {
		margin: 0;
		margin-bottom: 20px;
	}

	.table-sizes {
		padding: 10px
	}

	.catalog {
		margin-bottom: 50px;
	}

	.catalog__buttons {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.catalog__button {
		margin-bottom: 10px;
	}

	.section-title {
		font-size: 21px;
		padding-bottom: 30px;
	}

	.section-title__span {
		padding-bottom: 20px;
	}

	.catalog__cards {
		display: none;
	}

	.catalog-slider {
		margin-top: 30px;
		display: block;
	}

	.main-information__text {
		font-size: 14px;
		line-height: 21px;
	}

	.catalog__popup {
		max-width: 320px;
		top: calc(50% - 182px);
		left: calc(50% - 160px);
		transform: translateX(0);
		transform: translateY(0);
	}

	.catalog__popup-image {
		display: none;
	}
}

@media (max-width:  560px) {
	.table-sizes {
		padding: 5px;
		font-size: 12px;
	}

	.header__main {
		background-image: url('../images/purplebg.jpg');
	}
}

@media (max-width: 470px) {
	.order__items {
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 440px) {
	.table-sizes {
		padding: 5px;
		font-size: 10px;
	}

	.main-title {
		font-size: 45px;
		padding-bottom: 10px;
	}
}

@media (max-width: 380px) {
	.table-sizes {
		padding: 5px;
		font-size: 9px;
	}
}